<%- include("partials/header") %>

<% blogs.forEach(function(blog) { %>
  <div class="blogPost ui container">
    <h2><%= blog.title %></h2>
    <img src="<%= blog.image %>" />
    <br><%= blog.dateCreated %>
    <h4><%= blog.body %></h4>
  </div>
<% }); %>

<%- include("partials/footer") %>
