<%- include("partials/header") %>

<div id="show-post" class="ui main container clearing raised segment">
  <div class="title">
    <div class="ui large header">
      <%= blog.title %>
    </div>
    <%= blog.date_created.toDateString().slice(3) %>
  </div>
  <img src="<%= blog.image %>" width="100%" />
  <p><%= blog.body %></p>
  <% if(blog.is_draft) { %>
    <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST" autocomplete="off">
      <button input="submit" name="blog[is_draft]" value="false" class="ui primary right floated mini submit button">Make public</button>
    </form>
  <% } %>
  <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
    <button onclick="return confirm('The post \'<%= blog.title %>\' is going to be deleted. Is that okay?')" class="ui right floated mini red button">Delete</button>
  </form>
  <a href="/blogs/<%= blog._id %>/edit" class="ui right floated mini yellow button">Edit</a>
</div>
<%- include("partials/footer") %>
