<%- include("partials/header") %>

<div id="show-post" class="ui main container clearing raised segment">
  <div class="title">
    <div class="ui large header">
      <%= blog.title %>
    </div>
    <%= blog.date_created.toDateString().slice(3) %>
  </div>
  <img src="<%= blog.image %>" width="100%" />
  <p><%= blog.body %></p>
</div>
<%- include("partials/footer") %>
